@model IPagedList<ListaTareas.Models.Todo.Item>;
@using Humanizer;
@using X.PagedList;

@{
    ViewData["Title"] = "Maneja tu lista de tareas";
}

<div class="container">
    <div class="row p-1">
        <div class="col">
            <a asp-action="Create" class="btn btn-dark">
                Agregar tarea
                <i class="bi bi-journal-check"></i>
            </a>
        </div>
    </div>
    @{
        await Html.RenderPartialAsync("_SearchPartial");
    }
</div>

<table class="table table-hover mt-1">
    <thead class="table-dark">
        <tr>
            <th>&#x2714;</th>
            <th>Tarea</th>
            <th>Vencimiento</th>
        </tr>
    </thead>
    <tbody class="bg-light">
        @foreach (var tarea in Model)
        {
            <tr>
                <td>
                    <form asp-action="MarkDone" method="post">
                        <label class="custom-checkbox">
                            <input type="checkbox" class="done-checkbox" />
                            <span></span>
                        </label>
                        <input type="hidden" name="id" value="@tarea.Id" />
                    </form>
                </td>
                <td class="detail-data" data-id="@tarea.Id">@tarea.Title</td>
                <td class="detail-data" data-id="@tarea.Id">@tarea.CreatedAt.Humanize()</td>
            </tr>
        }
    </tbody>
</table>
@{
    await Html.RenderPartialAsync("PaginationPartial", Model);
}

