@model ListaTareas.Models.Users.ManageUserModel;

@{
    ViewData["Title"] = "Adminstracion de usuarios";
}

<h2>@ViewData["Title"]</h2>
<h3>Adminstradores</h3>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var admin in Model.Adminstradors!)
        {
            <tr>
                <td>@admin.Id</td>
                <td>@admin.Email</td>
            </tr>
        }
    </tbody>
</table>


<h3>Usuarios</h3>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Email</th>
            <th>Confirmed</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Everyone!)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.Email</td>
                <td>@user.EmailConfirmed</td>
            </tr>
        }
    </tbody>
</table>

